body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h6, a, p2 {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: .12rem;
    margin: 0;
    padding: 0;
}
button {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: max(3.5vw, 50px);
}

h2 {
   font-size: max(2.25vw, 37px); 
}

h3, h4 {
    font-size: max(1.5vw, 30px); 
}

h5 {
    font-family: 'Work Sans', sans-serif;
    font-size: max(1.0vw, 20px);
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

p3 {
    font-size: max(1.5vw, 30px); 
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background: rgba(190, 80, 120, 0);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10;
    text-align: center
}

.opaque {
    background: #333;
}

/* Links inside the navbar */
.navbar a {
    position: relative;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    margin: 40px min(40px, 3vw) 40px min(40px, 3vw);
    text-decoration: none;
    transition-duration: 0.2s;
}

.active {
   color: gold !important; 
}

/* Change background on mouse-over */
.navbar a:hover {
  color: gold;
}

.background{
    position: relative;
    /* Full height */
    height: 100vh;
    
  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Home Page */

.home{
    background-image: url("Images/path.jpg");
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shadow {
    color: white;
    text-shadow: 2px 2px 0.5vw black;
    margin: auto;
    text-align: center;
}

/* Social Media Links */

.fa {
    margin: 20px;
    transition-duration: 0.2s;
}

.fa:hover {
  opacity: 0.7;
}

.social {
    text-align: center;  
}

.imageshadow{
    width: 30px;
    -webkit-filter: drop-shadow(1px 1px 1px black);
}

/* About Page */

.about{
    background-color: #282828;
}

.summary {
    padding-top: 120px;
    text-align: center;
}

.about h1, .about h2, .about h3 {
    color: #2E9CCA;
}

.about p {
    color: white;
    padding: 20px;
}

.experience{
    background-color: #2E9CCA;
}

.experience h1, .experience h2, .experience h3, .experience p {
    color: white;
}

.experience p{
    font: 'opensans-bold', sans-serif;
}

.experience h4 {
    color: #F1A638;
}


.experience p2 {
    color: #282828;
}

.timeline::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: black;
    opacity: 30%;
    position: absolute;
    left: 50%;
    top: 0;
}

.contact {
    background-color: white;
}


.footer {
    background-color: black;
}

.footer p{
    color: white;
}

.row {
    padding-top: 5px;
    display: flex;
    margin: auto;
    width: max(40%, 800px)
}
.midRow {
    padding-top: 5px;
    display: flex;
    margin: auto;
    width: max(60%, 800px)
}
.longRow {
    padding-top: 30px;
    display: flex;
    margin: auto;
    width: max(90%, 800px)
}

button {
			color: #ffffff;
			background-color: #2E9CCA;
			font-size: 19px;
			border-radius: 5px;
			padding: 9px 100px;
			cursor: pointer;
            border-width: 0px;
            transition-duration: 0.2s;
		}
button:hover {
    color: #ffffff;
    background-color: #474747;
}

@media screen and (max-width: 1000px) {
    .row {
        display: block;
        padding-top: 20px;
        width: max(400px, 80%)
    }
    .longRow {
        display: block;
        padding-top: 20px;
        width: max(400px, 80%)
    }
    .midRow {
        display: block;
        padding-top: 20px;
        width: max(400px, 80%)
    }
    button {margin-top: 40px;}
    .timeline::before {
        left: 5%;
    }
    .experience p {padding-top: 30px;}
}